global
    log         /var/lib/haproxy/log local0 info

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    stats socket /var/lib/haproxy/stats

    ssl-default-bind-ciphers PROFILE=SYSTEM
    ssl-default-server-ciphers PROFILE=SYSTEM

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

frontend pub-http
    log         /var/lib/haproxy/dev/log local1 debug
    bind *:80
    mode http
    redirect scheme https code 301

frontend webadm-pub-https
    log         /var/lib/haproxy/dev/log local1 debug
    bind        *:443 ssl crt /etc/haproxy/webadm.pem
    mode        http
    option      httplog
    use_backend webadm

backend webadm
    mode   http
    option httpchk
    server webadm-1 euw2a-prd-unixkingdom-webadm-1.unix-kingdom.lan:443 check maxconn 32 ssl ca-file /etc/ssl/certs/ca-bundle.crt
