mine_functions:
  network.interface_ip:
    iface: eth0

root_hash: $6$Um/rA2s0N0$...FBF3i7l1WlXIqOCfVJ1

unixkingdom_ca: |
    '-----BEGIN CERTIFICATE-----
    MIIDBzCCAe+gAwIBAgIJAPYvXUVK1P23MA0GCSqGSIb3DQEBBQUAMBoxGDAWBgNV
    BAMMD3d3dy5leGFtcGxlLmNvbTAeFw0xOTA5MjMyMDA2MjVaFw0yOTA5MjAyMDA2
    MjVaMBoxGDAWBgNVBAMMD3d3dy5leGFtcGxlLmNvbTCCASIwDQYJKoZIhvcNAQEB
    BQADggEPADCCAQoCggEBAKnkFgdeg9dP9wRnBpLaRkE/7xyH6YXXHQ1QcFkGsEBM
    gjsKEvxQSkzIYu5J7Ml35ILutEfmodNpFtigScoazB9q58l88ZN703kvc6mwCLdx
    TP8qTOBFdIcLNiGn5XFUxB6NXs5wl+kNsK4rSN+sHf5f9yYjpEBHf6RrT5XZ+ju/
    JYJb4ncIwu/W/V22iAyFX4NiFUsQoQopPkuO2/OaYnirwjd7/b7wQzuMfDh/VYkm
    H+Gl55W55Q8OTLHb/Ws0m+1FgtZpjBMkjIm2UqChSPTaDPFk/Dm+K5hN+0QKM42w
    Dl0v5S10ZqPuB2lmK4Td5XH6LKAT8ZGqmZ+yzROW/bMCAwEAAaNQME4wHQYDVR0O
    BBYEFNrbjnd3VuD/rOJZ8aN7e1752xzjMB8GA1UdIwQYMBaAFNrbjnd3VuD/rOJZ
    8aN7e1752xzjMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADggEBAAjFh1IG
    GkeMYmoEiIdgr/cdtJqH4dPTFDxUwl1QaTgN8huamPVSCnE3vwnvd0v8ZvL3MvFF
    Os0DrqMUWcscYAWUXjRkbLk0XkxVaFJwkZtrGVB9f89SZjXPygtXc4Q7TqOx/Ax4
    /uv/vTVK3rghB054bDjZMumV+ZRdpj0VgfYJcUUbt2SW7HgvLdS7nv7eTsfBdsJu
    yVDXgopVtj6j/vzkcE+Dml44A5Zk/A3LkkOYJCq4KltspYUilH15H9E0A1kr+VOU
    IhXWe702GCNDC+4cuhHJ8DYG2gq0ibdaAI4+VFmjJYkuzUVtMIWGmfqMoi+DuIEX
    0hgdCwmDn/R8y6s=
    -----END CERTIFICATE-----'

server_unixkingdom_ca: |
    '-----BEGIN CERTIFICATE-----
    MIIDBzCCAe+gAwIBAgIJAPYvXUVK1P23MA0GCSqGSIb3DQEBBQUAMBoxGDAWBgNV
    BAMMD3d3dy5leGFtcGxlLmNvbTAeFw0xOTA5MjMyMDA2MjVaFw0yOTA5MjAyMDA2
    MjVaMBoxGDAWBgNVBAMMD3d3dy5leGFtcGxlLmNvbTCCASIwDQYJKoZIhvcNAQEB
    BQADggEPADCCAQoCggEBAKnkFgdeg9dP9wRnBpLaRkE/7xyH6YXXHQ1QcFkGsEBM
    gjsKEvxQSkzIYu5J7Ml35ILutEfmodNpFtigScoazB9q58l88ZN703kvc6mwCLdx
    TP8qTOBFdIcLNiGn5XFUxB6NXs5wl+kNsK4rSN+sHf5f9yYjpEBHf6RrT5XZ+ju/
    JYJb4ncIwu/W/V22iAyFX4NiFUsQoQopPkuO2/OaYnirwjd7/b7wQzuMfDh/VYkm
    H+Gl55W55Q8OTLHb/Ws0m+1FgtZpjBMkjIm2UqChSPTaDPFk/Dm+K5hN+0QKM42w
    Dl0v5S10ZqPuB2lmK4Td5XH6LKAT8ZGqmZ+yzROW/bMCAwEAAaNQME4wHQYDVR0O
    BBYEFNrbjnd3VuD/rOJZ8aN7e1752xzjMB8GA1UdIwQYMBaAFNrbjnd3VuD/rOJZ
    8aN7e1752xzjMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADggEBAAjFh1IG
    GkeMYmoEiIdgr/cdtJqH4dPTFDxUwl1QaTgN8huamPVSCnE3vwnvd0v8ZvL3MvFF
    Os0DrqMUWcscYAWUXjRkbLk0XkxVaFJwkZtrGVB9f89SZjXPygtXc4Q7TqOx/Ax4
    /uv/vTVK3rghB054bDjZMumV+ZRdpj0VgfYJcUUbt2SW7HgvLdS7nv7eTsfBdsJu
    yVDXgopVtj6j/vzkcE+Dml44A5Zk/A3LkkOYJCq4KltspYUilH15H9E0A1kr+VOU
    IhXWe702GCNDC+4cuhHJ8DYG2gq0ibdaAI4+VFmjJYkuzUVtMIWGmfqMoi+DuIEX
    0hgdCwmDn/R8y6s=
    -----END CERTIFICATE-----'
