elasticsearch_crt: |
    -----BEGIN CERTIFICATE-----
    MIIF7zCCBNegAwIBAgIRANdVj9r18RBbshMoK3B3KaMwDQYJKoZIhvcNAQEFBQAw
    gZcxCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJVVDEXMBUGA1UEBxMOU2FsdCBMYWtl
    ...
    A1UEBxMHRW5nbGlzaDEXMBUGA1UECRMOU2VhIFZpbGxhZ2UgMTAxFDASBgNVBAoT
    C0dvb2dsZSBMdGQuMRMwEQYDVQQLEwpUZWNoIERlcHQuMSgwJgYDVQQLEx9Ib3N0
    kLmXOFLTcxTQpptxSo5xDD3aTpzWGCvjExCKpXQtsITUOYtZc02AGjjPOQ==
    -----END CERTIFICATE-----

elasticsearch_key: |
     -----BEGIN PRIVATE KEY-----
    MIIJQwIBADANBgkqhkiG9w0BAQEFAASCCS0wggkpAgEAAoICAQDvnSaC1KKQ43mo
    JYvcMgzkmv266d7djXYhv1rS7ZHdXejfrTWFAUtZ0s+8xZeE7e2oyyKP9PqL8lJq
    ...
    3MXjw4Cl0HWSA0Wth+mDxGa9gddkXaI0L9vbO3NJ/dcXFDmyerEB1Nz2x7190JTd
    8C889PyMaWTPee/s3SB6SfOKvn/n8kU=
    -----END PRIVATE KEY-----


