pubwebadm_key: |
    -----BEGIN RSA PRIVATE KEY-----
    MIIEowIBAAKCAQEAq8WYRu0ZjNJL3Q8VYgvR0WYPtMaTQ/6Lu706L0DhYlZS7HeW
    ...
    wJxgRJjbODQRl4Nepu0csmkyYDzMKdsYegemejWt/zRFel78MVdf
    -----END RSA PRIVATE KEY-----
pubwebadm_crt: |
     -----BEGIN CERTIFICATE-----
     MIIDHDCCAgSgAwIBAgIUAa3u/CNBWRftTOFM9WMecqIE2E8wDQYJKoZIhvcNAQEN
     ...
     CFAn2ihTv3kDMwkLEwSTx/EMLpS40KnPGw6cX9sTfys=
     -----END CERTIFICATE-----
pubwaproxy_key: |
    -----BEGIN RSA PRIVATE KEY-----
    MIIEowIBAAKCAQEAq8WYRu0ZjNJL3Q8VYgvR0WYPtMaTQ/6Lu706L0DhYlZS7HeW
    ...
    wJxgRJjbODQRl4Nepu0csmkyYDzMKdsYegemejWt/zRFel78MVdf
    -----END RSA PRIVATE KEY-----
pubwaproxy_crt: |
     -----BEGIN CERTIFICATE-----
     MIIDHDCCAgSgAwIBAgIUAa3u/CNBWRftTOFM9WMecqIE2E8wDQYJKoZIhvcNAQEN
     ...
     CFAn2ihTv3kDMwkLEwSTx/EMLpS40KnPGw6cX9sTfys=
     -----END CERTIFICATE-----
pubbitwarden_key: |
    -----BEGIN RSA PRIVATE KEY-----
    MIIEowIBAAKCAQEAq8WYRu0ZjNJL3Q8VYgvR0WYPtMaTQ/6Lu706L0DhYlZS7HeW
    ...
    wJxgRJjbODQRl4Nepu0csmkyYDzMKdsYegemejWt/zRFel78MVdf
    -----END RSA PRIVATE KEY-----
pubbitwarden_crt: |
     -----BEGIN CERTIFICATE-----
     MIIDHDCCAgSgAwIBAgIUAa3u/CNBWRftTOFM9WMecqIE2E8wDQYJKoZIhvcNAQEN
     ...
     CFAn2ihTv3kDMwkLEwSTx/EMLpS40KnPGw6cX9sTfys=
     -----END CERTIFICATE-----
pubzabbix_key: |
    -----BEGIN RSA PRIVATE KEY-----
    MIIEowIBAAKCAQEAq8WYRu0ZjNJL3Q8VYgvR0WYPtMaTQ/6Lu706L0DhYlZS7HeW
    ...
    wJxgRJjbODQRl4Nepu0csmkyYDzMKdsYegemejWt/zRFel78MVdf
    -----END RSA PRIVATE KEY-----
pubzabbix_crt: |
     -----BEGIN CERTIFICATE-----
     MIIDHDCCAgSgAwIBAgIUAa3u/CNBWRftTOFM9WMecqIE2E8wDQYJKoZIhvcNAQEN
     ...
     CFAn2ihTv3kDMwkLEwSTx/EMLpS40KnPGw6cX9sTfys=
     -----END CERTIFICATE-----
