ldap_password: <password_for_admin>
slapd_crt: |
    -----BEGIN CERTIFICATE-----
    MIIDBzCCAe+gAwIBAgIJAPYvXUVK1P23MA0GCSqGSIb3DQEBBQUAMBoxGDAWBgNV
    BAMMD3d3dy5leGFtcGxlLmNvbTAeFw0xOTA5MjMyMDA2MjVaFw0yOTA5MjAyMDA2
    MjVaMBoxGDAWBgNVBAMMD3d3dy5leGFtcGxlLmNvbTCCASIwDQYJKoZIhvcNAQEB
    BQADggEPADCCAQoCggEBAKnkFgdeg9dP9wRnBpLaRkE/7xyH6YXXHQ1QcFkGsEBM
    gjsKEvxQSkzIYu5J7Ml35ILutEfmodNpFtigScoazB9q58l88ZN703kvc6mwCLdx
    TP8qTOBFdIcLNiGn5XFUxB6NXs5wl+kNsK4rSN+sHf5f9yYjpEBHf6RrT5XZ+ju/
    JYJb4ncIwu/W/V22iAyFX4NiFUsQoQopPkuO2/OaYnirwjd7/b7wQzuMfDh/VYkm
    H+Gl55W55Q8OTLHb/Ws0m+1FgtZpjBMkjIm2UqChSPTaDPFk/Dm+K5hN+0QKM42w
    Dl0v5S10ZqPuB2lmK4Td5XH6LKAT8ZGqmZ+yzROW/bMCAwEAAaNQME4wHQYDVR0O
    BBYEFNrbjnd3VuD/rOJZ8aN7e1752xzjMB8GA1UdIwQYMBaAFNrbjnd3VuD/rOJZ
    8aN7e1752xzjMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADggEBAAjFh1IG
    GkeMYmoEiIdgr/cdtJqH4dPTFDxUwl1QaTgN8huamPVSCnE3vwnvd0v8ZvL3MvFF
    Os0DrqMUWcscYAWUXjRkbLk0XkxVaFJwkZtrGVB9f89SZjXPygtXc4Q7TqOx/Ax4
    /uv/vTVK3rghB054bDjZMumV+ZRdpj0VgfYJcUUbt2SW7HgvLdS7nv7eTsfBdsJu
    yVDXgopVtj6j/vzkcE+Dml44A5Zk/A3LkkOYJCq4KltspYUilH15H9E0A1kr+VOU
    IhXWe702GCNDC+4cuhHJ8DYG2gq0ibdaAI4+VFmjJYkuzUVtMIWGmfqMoi+DuIEX
    0hgdCwmDn/R8y6s=
    -----END CERTIFICATE-----

slapd_key: |
    -----BEGIN RSA PRIVATE KEY-----
    MIIEogIBAAKCAQEAqeQWB16D10/3BGcGktpGQT/vHIfphdcdDVBwWQawQEyCOwoS
    /FBKTMhi7knsyXfkgu60R+ah02kW2KBJyhrMH2rnyXzxk3vTeS9zqbAIt3FM/ypM
    4EV0hws2IaflcVTEHo1eznCX6Q2writI36wd/l/3JiOkQEd/pGtPldn6O78lglvi
    dwjC79b9XbaIDIVfg2IVSxChCik+S47b85pieKvCN3v9vvBDO4x8OH9ViSYf4aXn
    lbnlDw5Msdv9azSb7UWC1mmMEySMibZSoKFI9NoM8WT8Ob4rmE37RAozjbAOXS/l
    LXRmo+4HaWYrhN3lcfosoBPxkaqZn7LNE5b9swIDAQABAoIBAHSGAi3vv5GwQQZ9
    +15B46nhRglVlu+7iSuWnlgRZFXVpAUGddsk3rEnR+OURJoyZ0L+ohwmrZupGohd
    9/5svtBVrMDft3mmlncp+rTKDlBzn5Hr22p/eNse73PKCm7e6tzhrcL+KtMoFqR+
    /66aCMBt5b/89i04XO3SxHVNWnobFBhVOlEkkci3fiZD9iMg0SKu2AVD8C8Un/o7
    8jj7LsNLbgx1i2yKuaouuLVGvFdLA8r4G7TbnBeYCxWF6BG6eZRNm4uigBX3b77g
    WVjRKP5BsXIm1gXPkocbsuohUjrqi5q0LPyI0yXpsJ2gIvK7M65zf4ZnmEN6vRWy
    ZJsV/2ECgYEA203kEP+EO8q0wIlFPYcgwtVwiBW8GfWgGBL21GYBlSnGDxru22Ah
    QO04ktm0jjk2czWtSa61A73aR0eRS+w+E1kmuh9//Lfc9m7DR4ddzFn2cTRW5rkr
    UJkzUp85/jknHXa2TUhItDTJIkOiZntSbLCz43+fWV72A7IJf83gEXsCgYEAxlGH
    ZYpXTXfMWUvBt3bgTJuJZ6RdR1VjZTd3di7gnsC1mgH0+0Q49i5ur3kEG9oVRKSd
    DoCz44Ukj3sqsESSkzORc9CEjRwoFQEanMl+V5nQgh9OqrDB6zZtGkOsokotNfzQ
    GBQ/mRA+4pPCAyT18na3qonPglhYV7vvBV4TQykCgYAR4egW+r7toTnb+VWMDti9
    CmqCrkMIWt8TF3jJGQhIAYAE+00+1jff83gJgXcXodKu0lGvEG/yPijuZweSCVGG
    gl6GDsuA7/00mxORYZhkcXGHCZ2Mcsz1ZYip1BIGiOKHpIZ5Bsvm5ecAxEMZ2DSA
    aGhCxMVZpESrSHk90qvSwQKBgC3q1pSWEVyobjIGrlWSOqDCKnBKyCYqCRd4XjqI
    5A0dxW5hIZ3D0AR//7S1KlRgjCgWjR68geod+7cU529kkSNv/y93ihk5+bXTSZwf
    sxcJUBOwuAAhaOTS9zPrk18IGau0W2IX3hnMfyLq3zLnLeLzxdbAjcE6P0ohA1iU
    zZTxAoGAR8F03DCin0d+Bm18Nr3xIuUq6DCC9IqYWDmUhD6v784WTvxr1sAx13Ot
    4qMEM7yi3BVBZ+b96DZyolhB4DCQor2jKF6TQIdqlCcxyCQtKxE51nFLKXGFAdbj
    5+XrckoSWeVlbFSeeKhDqmVaN8gPPQV/0Djvw+3qeM8CKUBcE0Q=
    -----END RSA PRIVATE KEY-----

