letsencrypt:
  use_package: true
  config: |
    server = https://acme-v01.api.letsencrypt.org/directory
    email = admin@example.com
    authenticator = webroot
    webroot-path = /etc/openvpn/
    agree-tos = True
    renew-by-default = True
  config_dir:
    path: /etc/letsencrypt
    user: root
    group: root
    mode: 755
  domainsets:
    openvpn:
      - vpn.example.com
  post_renew:
    cmds:
      - systemctl restart openvpn
  cron:
    minute: 10
    hour: 2
    dayweek: 1
